/*宽度 w-full w-*/
.base-width {
  width: 1336px;
}
.w-all,
.w-full,
.wp-100 {
  width: 100%;
}

.width-primary {
  width       : 1336px;
  margin-left : auto;
  margin-right: auto;
}
.wp-10 {
  width: 10%;
}

.wp-20 {
  width: 20%;
}

.wp-30 {
  width: 30%;
}

.wp-40 {
  width: 40%;
}

.wp-50 {
  width: 50%;
}

.wp-60 {
  width: 60%;
}

.wp-70 {
  width: 70%;
}

.wp-80 {
  width: 80%;
}

.wp-90 {
  width: 90%;
}


.w-0 {
  width: 0px;
}

.w-10 {
  width: 10px;
}

.w-12 {
  width: 12px;
}

.w-14 {
  width: 14px;
}

.w-16 {
  width: 16px;
}

.w-18 {
  width: 18px;
}

.w-20 {
  width: 20px;
}

.w-22 {
  width: 22px;
}

.w-24 {
  width: 24px;
}

.w-26 {
  width: 26px;
}

.w-28 {
  width: 28px;
}

.w-30 {
  width: 30px;
}

.w-32 {
  width: 32px;
}

.w-34 {
  width: 34px;
}

.w-36 {
  width: 36px;
}

.w-38 {
  width: 38px;
}

.w-40 {
  width: 40px;
}

.w-42 {
  width: 42px;
}

.w-44 {
  width: 44px;
}

.w-46 {
  width: 46px;
}

.w-48 {
  width: 48px;
}

.w-50 {
  width: 50px;
}

.w-52 {
  width: 52px;
}

.w-54 {
  width: 54px;
}

.w-56 {
  width: 56px;
}

.w-58 {
  width: 58px;
}

.w-60 {
  width: 60px;
}

.w-62 {
  width: 62px;
}

.w-64 {
  width: 64px;
}

.w-66 {
  width: 66px;
}

.w-68 {
  width: 68px;
}

.w-70 {
  width: 70px;
}

.w-80 {
  width: 80px;
}

.w-90 {
  width: 90px;
}

.w-100{
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}
.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-160 {
  width: 160px;
}

.w-170 {
  width: 170px;
}

.w-180 {
  width: 180px;
}

.w-200 {
  width: 200px;
}

.w-210 {
  width: 210px;
}

.w-220 {
  width: 220px;
}

.w-240 {
  width: 240px;
}

.w-250 {
  width: 250px;
}

.w-260 {
  width: 260px;
}

.w-280 {
  width: 280px;
}

.w-300 {
  width: 300px;
}

.w-300 {
  width: 18.75rem;
}

.w-320 {
  width: 20rem;
}

.w-340 {
  width: 21.25rem;
}

.w-350 {
  width: 21.875rem;
}

.w-360 {
  width: 22.5rem;
}

.w-400 {
  width: 25rem;
}

.w-430 {
  width: 26.875rem;
}

.w-440 {
  width: 27.5rem;
}
.w-450 {
  width: 450px;
}

.w-500 {
  width: 31.25rem;
}

.w-580 {
  width: 36.25rem;
}

.w-600 {
  width: 37.5rem;
}

.w-690 {
  width: 43.125rem;
}
